[2016-03-22 18:31] perpi opened #2 "feed::rss"
Hey man, really nice work.

Does it have support for [rss](https://gohugo.io/templates/rss/)?

[2016-03-23 17:49] jpescador commented on #2
Hi perpi, thank you very much. I appreciate it. It can be added, I'm thinking of placing the rss link before the social media icons. Please see the image below

![image](https://cloud.githubusercontent.com/assets/2810387/13995020/aaf2f2ee-f0e4-11e5-800b-0b55cd7320ca.png)

[2016-03-23 21:40] onrea opened #3 "Custom css support"
May you add this snippet to config file:

    [params]
        custom_css = ["path/to/custom.css"]

[2016-03-23 21:49] onrea opened #4 "Please, fully translatable Via Config.toml"
Currently {BLOG, CATEGORIES, ABOUT} are translatable via [Config](https://github.com/jpescador/hugo-future-imperfect/blob/master/exampleSite/config.toml) file.

May you use shortcodes for others too, such as: 'Recent Posts', 'View More Posts', ... .

[2016-03-24 08:15] onrea opened #5 "MultiAuthor"
May you add this feature natively: https://discuss.gohugo.io/t/2969

[2016-03-24 19:13] perpi commented on #2
Oh, it looks great.

[2016-03-25 17:41] nraboy commented on #3
Created a PR here https://github.com/jpescador/hugo-future-imperfect/pull/6

[2016-03-25 17:52] nraboy commented on #5
@onrea,

Are you saying you want the following post author to be changed on a per post basis?:

<img width="899" alt="screen shot 2016-03-25 at 10 48 51 am" src="https://cloud.githubusercontent.com/assets/983958/14050163/435f16f0-f277-11e5-9742-0c2489f29b21.png">

Or are you saying you want the core site info author to change?:

<img width="409" alt="screen shot 2016-03-25 at 10 48 57 am" src="htt

[2016-03-25 17:57] nraboy commented on #5
I take that back, it looks like it was already added:

https://github.com/jpescador/hugo-future-imperfect/blob/master/exampleSite/content/blog/creating-a-new-theme.md#L2

By adding `author` to the front-matter, it will set the post author.

https://github.com/jpescador/hugo-future-imperfect/blob/master/layouts/post/header.html#L23

Without getting sufficient information, we don't know what you're

[2016-03-26 17:41] jpescador commented on #4
Hi onrea, can you provide more information? I'm not exactly sure what you have in mind.

[2016-03-27 10:12] onrea commented on #4
# Set up your menu items in the navigation bar
    # You can use identifier to prepend a font awesome icon to your text
    [[menu.main]]
        name = "AAAA"
        url = "/blog"
        identifier = "fa fa-newspaper-o"
        weight = 1

    [[menu.main]]
        name = "BBBB"
        url = "/categories"
        weight = 2

    [[menu.main]]
        name = "CCCC"
        url = "/about"

[2016-03-27 10:32] onrea commented on #5
Yours is also another approach.

but mine is here by more details: Adding a feature to add the author of each post (e.g.) under the title/date of the post. We can use the below part as a part for the website, filling by a logo, etc:

![img](https://cloud.githubusercontent.com/assets/983958/14050170/51a091e4-f277-11e5-9838-bbd8a2d78c21.png)

The current structure is great for a personal website; Bu

[2016-03-27 10:40] onrea commented on #3
Really thank you;

And I think it can take _**customJS**_  too!

[2016-03-27 14:20] nraboy commented on #5
@onrea,

I don't have the slightest idea what you're talking about.  Can you try to be more clear in your comments?

It might be best if you create a pull request with these changes if we can't figure out what you're trying to tell us.

Regards,

[2016-03-27 14:23] nraboy commented on #3
What benefit would custom JavaScript solve?  I see the benefit of custom CSS, but no benefit in custom JavaScript.  Can you explain why this would be useful?

[2016-03-27 14:35] nraboy commented on #4
I personally do not agree with this suggested change.  Let's use Wordpress as a base here.  It is a blogging engine like Hugo and it does not let you customize every piece of text in the theme.  This would cause a ton of bloat.

Instead I recommend you make your own fork of the theme with your own customizations to various text elements.

@jpescador decision.

Best,

[2016-03-27 14:37] onrea commented on #3
Sorry, I didn't said it's useful! I have already seen it [here](http://squidfunk.github.io/mkdocs-material/customization/#small-tweaks).

[2016-03-27 14:44] nraboy commented on #3
Not trying to be mean, but can you please stop linking everyone to external pages?  Please explain via the issue ticket.  Makes it easier for everyone.

Best,

[2016-03-27 14:53] onrea commented on #5
Oh, Sht; It already [has been implemented](https://github.com/jpescador/hugo-future-imperfect/blob/master/archetypes/blog.md)! I'm really sorry for taking your time;

I run it without '_exampleSite_'. Now I tried `/exampleSite` and I see the author can be changed post to post.

[2016-03-27 14:53] #5 closed

[2016-03-27 14:56] onrea commented on #3
Ah, sorry; This issue was about CSS and now it's in queue as a PR.

Thanks for implementing CSS support.

Cheers
Rea Ontaro

[2016-03-27 14:56] #3 closed

[2016-03-27 15:37] jpescador commented on #3
Hey Nic, thanks for jumping in. It's much appreciated. Onrea, you can do this already with the following params in the config file: minifiedFilesCSS and minifiedFilesJS. It's original intention was meant for what the name implies, but you can technically set your custom files here. However, I will be changing the names to customCSS and customJS. I will also slightly restructure the logic in additi

[2016-03-27 15:58] jpescador commented on #4
Hey onrea, I agree with what Nic is saying here. However, I do understand the inconvenience of not being able to edit text such as the titles in the sidebar: Recent Posts, Categories, About. Therefore, I will look into this when time permits and I believe, Data Files, https://gohugo.io/extras/datafiles/ can be utilized for this kind of issue. Thanks

[2016-04-05 16:36] Jean85 opened #8 "Long lines in post content breaks the layout"
I'm having an issue with large items inside the content.
If I add something too large, the sidebar gets pushed to the side, without the possibility of scrolling the browser horizontally.

With images, this could be easily fixed with a `img {max-width: 100%}` CSS rule. But that is feasible because images are wrapped inside a `p` element.

The same issue is present (and not resolved in my case) with

[2016-04-05 21:56] jpescador commented on #2
RSS link has been added to the master branch

[2016-04-05 21:56] #2 closed

[2016-04-05 23:23] jpescador commented on #8
Hi Alessandro, I noticed this as well with large blocks of code (https://github.com/jpescador/hugo-future-imperfect/commit/30f4dd03449030ba3cfc36d16c87196d6d815fe6). I tried to wrap the text, but the output just didn't look appealing. The workaround for the moment is to limit the number of characters to 80 per line for the moment until a fix can be found.

As for the images, have you tried using t

[2016-04-06 06:45] Jean85 commented on #8
Thanks for your suggestions. Img solutions are all very good, but for large blocks of code this is not feasible for me. In (one of) my cases, I want to display a block of encoded data and present it as it is, so breaking it at the 80th character it's against it.

I will dig further in Hugo docs to see if we can do something in the default partials.

[2016-04-06 07:48] Jean85 commented on #8
I haven't found any fixes for now :cry: I've resorted to a fixed max-width of 50em, that is near to the maximum width achievable in the widest format. On lower resolutions, the container width takes the precedence and all works well already.

[2016-04-13 00:21] jpescador commented on #3
Adding customCSS and customJS functionality per commit, aecd316

[2016-04-13 00:28] jpescador commented on #8
Hi @Jean85, a fix has been applied for the large lines of code issue. I also took a look at your website and noticed some personal customizations. If you would like to contribute to the theme, feel free to create a PR :wink:

[2016-04-13 00:28] #8 closed

[2016-04-13 07:08] Jean85 commented on #8
Yeah, thanks for the fix! ;) I'll back port it to our blog!

Our blog has some personalizations indeed, but most of it are personal preferences (like the filtering on the top categories bumped to more elements, or the non-uppercase titles).
The only major change is the multi-author support through taxonomies, but I'm having some template issue in the top-right box in the article which shows the au

[2016-04-23 22:30] 7sharp9 opened #9 "Error on running Hugo"
Hi nice theme, I get the following error on running with this theme in the console output:

[2016-04-24 06:47] daoran commented on #9
The error is possibly because your content folder (in your base Hugo folder) has something other than blog and about.md. It seems to me that you have a post folder inside the content folder. Please see the exampleSite folder, your content folder can only have blog and about.md.

[2016-04-24 17:08] 7sharp9 commented on #9
Yeah your right, although I do have some markdown consistencies between hugo and hexo, where hexo did not require a `---` initial front matter which resulted in no posts being show.  Somehow they are all displayed if I used a different folder than the theme.

I had a folder named post with all my `*.md`'s I then modified the menu sections to point to the new location and all my posts were show, th

[2016-04-25 03:53] jpescador commented on #9
Hi Dave, thanks! As for the error, I was able to reproduce it and it turns out the reason you got this error was because the **categories** variable was not set in the front matter. I'm guessing you may have manually created the Hugo section directory as well as the content markdown files. If you run the `hugo new` command then the archetype will be used to set the default configuration properties

[2016-04-26 19:45] #9 closed

[2016-05-20 23:04] zeebluejay opened #14 "Questions regarding theme instructions"
Hello @jpescador,

First of all, thank you for creating this theme and make it available. I am experimenting with it right now to create my own blog. After reading Hugo docs and your themes install instructions, I was able to setup a sample site of my own and running it locally. But there are a few things not clear from your instructions, thought I ask you here and perhaps you can adjust the instr

[2016-06-03 09:04] qwding opened #15 "Replace "post" in html with params"
Hi
  I'd like this theme. But when I use it. I found that some contents are missing.
  I have three folders under /content/ . But in this theme can only show the content under /content/post.
  I have check the source code. And I found like this `where .Site.Pages "Type" "post"`.  You have judge the page type in the code. I think this not very good, because If I have other types, They all can't be

[2016-06-13 22:30] justrjlewis opened #18 "off canvas nav not quite working"
I'm sure it's something that I've done, but I can't suss out why the off-canvas navigation isn't working on my site: [https://co97.justrjlewis.com](https://co97.justrjlewis.com).  I didn't notice any errors...a few warnings, but no errors.

Could you take a look?

[2016-06-24 04:38] justrjlewis commented on #18
@jpescador any thoughts?

[2016-06-27 18:40] kaystrobach opened #21 "duplicate baseUrl"
Hi in some links i have the baseURL duplicate:

`http://<domain>/builds/master/builds/master/`where I set `baseURL=/builds/master/`via the commandline paramter, but had the same problem, when storing the baseURL in config.toml.

I used:

Hugo Static Site Generator v0.16 BuildDate: 2016-06-06T14:29:38+02:00

and the following docker image: `mattoddie/hugo:latest`

[2016-06-27 18:41] kaystrobach commented on #21
but seems to be a hugo problem ... i have this with other themes as well 😢

[2016-06-27 18:41] #21 closed

[2016-08-04 22:41] tattwamasi opened #22 "Refs to the theme included .js and .css files should respect baseURL"
The templates use hard coded relative references for the files.  This breaks when deploying to anything that isn't a host only URL, i.e,  deploying to http://blog.joe.com works, but http://joe.com/blog would not, because it would look for the .js and .css under http://joe.com/js and http://joe.com/css rather than http://joe.com/blog/js etc.

I think changing the links in the templates to
`href="{{

[2016-08-05 06:11] tattwamasi commented on #22
Well, I was close.  I think this handles it, for example:
[code]
And
[code]

There's a similar issue for the config.toml entry of params.intro.pic.src but not sure yet how to fix that, since the user could stick a relative or absolute URL in there, and can't use the {{ }} things themselves in the config file (right?).

[2016-08-05 07:00] tattwamasi commented on #22
In sidebar.html you can fix the params.intro.pic.src issue by doing something like:
`<img src="{{ relURL . }}" class="intro-circle" width="{{ $pic.width }}" alt="{{ $pic.alt }}" />`

But at this point I'm seeing the same basic issue everywhere.  The post button, category links, etc. on the side bar, etc.

It all comes from the situations where relative URLs are hardcoded into the theme files.  All

[2016-09-08 16:24] seepa opened #23 "categories link broken"
Hi,

the categories link on the bottom of a post page seems to be missing a "/" in the path. When built, the link currently reads `/categoriesmycategory` where it should be `/categories/mycategory`.

The variable `categoryUrl` which is requested [on this line](https://github.com/jpescador/hugo-future-imperfect/blob/2db677fe337a2bab43b776318559f86db9316daf/layouts/post/footer-category.html#L42) see

[2016-11-11 23:49] glnarayanan opened #28 "Issues installing the theme"
While I'm able to clone other themes and use them directly by configuring the config.toml file or using hugo -t option, I'm unable to use _future-imperfect_  using the same steps. For some reason the site's CSS is never rendered.

This is what I always get when I try to run Hugo using this theme. Is there a setup instruction that we're missing perhaps?

![image](https://cloud.githubusercontent.com

[2016-11-29 03:46] bubuzzz commented on #28
you have to copy the `exampleSite` inside the theme to the root folder and start from there

[2016-12-08 00:44] bubuzzz opened #31 "Blog section does not have text format"
In a particular post, the text format (like bold, italic) works well. However, when going to the blog section on the navigation bar, all the text (except the title) lose the format. Is it on purpose ? How can I change it ?

![screen shot 2016-12-08 at 11 42 48 am](https://cloud.githubusercontent.com/assets/571736/20992938/862b63d2-bd3b-11e6-8f4d-6fd79722ff0c.png)
![screen shot 2016-12-08 at 11 42

[2016-12-16 00:08] ianmcxa opened #32 "Site Title does not render"
Site titles do not render on both my site and the example site. See the screenshot for details.

![](https://i.imgur.com/QAiIThV.png)

Using hugo version 0.17-1

[2016-12-16 19:57] ianmcxa commented on #32
This may very well be a bug with Hugo itself. It does not happen on hugo cloned from github.

[2017-01-17 06:47] ex-nerd opened #33 "Custom CSS doesn't work with hugo 0.18"
Not sure what's up, but CustomCSS param is not being parsed into the theme.  Worked fine with 0.17.

[2017-01-17 20:54] vikas-0 opened #34 "Categories at footer not working properly"
When clicking on categories on footer it shows 404. The wrong URL is being displayed there.
For example, on this page, http://themes.gohugo.io/theme/future-imperfect/ try clicking the link of categories on post's footer.

[2017-03-23 19:43] castaways opened #35 "social icons still visible"
If I set the:

[code]

They are still visible when generating the site.

[2017-03-27 21:47] joshkestenberg opened #36 "search bar only searches for site name, but no additional query"
When i search from your site, it links to google with query "site:https://jpescador.com", and nothing else.

It doesn't include my query. Only the site to search.

[2017-03-28 04:53] joshkestenberg opened #37 "category links on blog posts are faulty"
they link to ```/categoriescategory-name``` as opposed to ```/categories/category-name```. missing a slash.

[2017-03-28 05:45] joshkestenberg opened #38 "facebook sharer has changed and buttons no longer work"
the way you've configured the facebook share button is outdated. https://developers.facebook.com/docs/sharing/reference/feed-dialog

[2017-03-28 05:55] #38 closed

[2017-03-28 05:55] joshkestenberg commented on #38
i've realized this may not be faulty.

[2017-03-28 16:47] #37 closed

[2017-03-28 16:49] joshkestenberg commented on #37
there is a pull request that fixes this issue. https://github.com/jpescador/hugo-future-imperfect/pull/24

[2017-03-28 16:54] joshkestenberg commented on #36
https://github.com/jpescador/hugo-future-imperfect/pull/20 fixes this.

[2017-03-28 16:54] #36 closed

[2017-03-28 16:55] joshkestenberg commented on #34
https://github.com/jpescador/hugo-future-imperfect/pull/24 this fixes it.

[2017-04-03 01:04] klud1 opened #39 "best approach to translate and/or make multilignual this theme?"
I'm starting a blog, and love this theme, but i want to write content in spanish and english, tried to translate by the theme following the hugo guides, but not everything is translated; some parts of the theme are still in english

[2017-04-09 16:20] klud1 commented on #34
I recently (today) cloned this repo and `categories` isn't working at all, just get `404` pages, been testing the troubleshootings, but nothing seems to work.

[2017-06-21 03:28] pacollins opened #42 "Multilevel Menu"
I noticed that identifiers is used to add an icon in the nav, so is there a way to have a drop down in the menu? I don't notice one so a request could be for this - something like parent and child.

[2017-06-21 04:21] pacollins opened #43 "Upgrade to Font Awesome 4.7"
I saw that #29 was trying to implement this, but their changes didn't implement it correctly (or at least not for me).

[2017-08-01 21:03] norcalbiostat opened #45 "Example site doesn't come with sidebar"
Please modify the example site to include a sidebar, or include instructions on how to use partials.

[2017-08-09 15:11] pacollins commented on #45
https://github.com/hjiawei/hugo-future-imperfect/ is the current version of Future Imperfect due to lack of activity here on the original.

[2017-08-09 15:20] pacollins commented on #43
Solved with https://github.com/hjiawei/hugo-future-imperfect/commit/b1ea83fc02ff318b1a31c7cc4f6f7f8441ffc3e5

[2017-08-16 01:25] pacollins commented on #39
@klud1 - What all are you trying to translate - content or main theme structures (I realize you posted this in April).

[2017-08-17 12:22] pacollins opened #47 "Inactive Development"
@jpescador I noticed that this was inactive and was trying to find a way to contact you (but no listed email) to ask if you mind if I, or someone else, take over its development - including change where gohugo.io references. I think the theme is great and I would love for people to be able to keep using it and keep it up to date. Let me know either here or on the issue posted on gohugoio/hugoTheme

[2017-08-22 07:18] jpescador commented on #47
@pacollins, I don't know where to begin. It brings me much joy that there are so many people interested in this theme and unfortunately I did not give the theme much TLC after its release. Fortunately there were many just like you people who kept this repo alive! I will start taking a look at the tickets....although at this point I may consider one master PR since I noticed you're ahead by 49 comm

[2017-09-10 23:56] pacollins commented on #47
@jpescador Just checking in on this.

[2017-09-12 23:37] #43 closed

[2017-09-13 06:09] jpescador commented on #47
Hey @pacollins, I'll use your PR, #48. I'll have this merged before the end of the week. Thanks for putting together this master PR!

[2017-09-13 14:11] pacollins commented on #47
No problem! I know you are probably busy, I just want to keep the ball rolling so the theme can be included back to the official Hugo site.

[2017-09-16 20:06] jpescador commented on #45
Issue resolved with #48

[2017-09-16 20:06] #45 closed

[2017-09-16 20:08] jpescador commented on #35
Issue resolved with #48

[2017-09-16 20:08] #35 closed

[2017-09-16 20:08] jpescador commented on #34
Issue resolved with #48

[2017-09-16 20:08] #34 closed

[2017-09-16 20:09] jpescador commented on #33
Issue resolved with #48

[2017-09-16 20:09] #33 closed

[2017-09-16 20:10] jpescador commented on #32
Issue resolved with #48

[2017-09-16 20:10] #32 closed

[2017-09-16 20:11] jpescador commented on #28
Issue resolved with #48

[2017-09-16 20:11] #28 closed

[2017-09-16 20:11] jpescador commented on #23
Issue resolved with #48

[2017-09-16 20:11] #23 closed

[2017-09-16 20:13] jpescador commented on #18
Issue resolved with #48

[2017-09-16 20:13] #18 closed

[2017-09-16 20:14] jpescador commented on #14
Issue resolved with #48

[2017-09-16 20:14] #14 closed

[2017-09-16 20:34] jpescador commented on #47
#48 has been merged, thanks again!

[2017-09-16 20:34] #47 closed

[2017-10-04 03:32] kerry opened #55 "Question: Title on the left of the post"
Which setting do I change to get the title and other things on the left hand side of the post like below?

https://raw.githubusercontent.com/jpescador/hugo-future-imperfect/master/images/screenshot.png

Currently it is like below:

<img width="1268" alt="screen shot 2017-10-04 at 9 01 49 am" src="https://user-images.githubusercontent.com/8803547/31158903-b645204c-a8e2-11e7-8a4c-729b28b634e0.png">

[2017-10-11 17:18] CFaught commented on #42
Has anyone worked on this? I'm curious about this myself and am still pretty new to Hugo or else I would have just done it myself. Anyone have any tips for getting this started?

[2017-10-11 20:24] pacollins commented on #42
@CFaught I can work on it, or you can feel free. Checkout the Nav Partial, and see how it relates to the config file, then check out the css. If you know how to make a basic css dropdown, it shouldn't take long to make.

[2017-10-11 20:30] pacollins commented on #55
Error in the current repo (my fault), waiting on @jpescador to become active again, or give me contributor access so I can fix it. If you'd like, check out pacollins/hugo-future-imperfect for the most recent version.

[2017-10-11 21:00] jpescador commented on #55
@pacollins, boom you are now a collaborator ;)

[2017-10-12 03:08] kerry commented on #55
@pacollins I tried your repo's master version but it still does not look like below

![screenshot](https://user-images.githubusercontent.com/8803547/31477256-a9ce2808-af28-11e7-82df-76da03305d35.png)

[2017-10-12 12:04] pacollins commented on #55
@kerry, it should as I just tested it. Try clearing files from your browser history.

[2017-10-12 12:06] kerry commented on #55
@pacollins Thanks for your response. Will it be possible for you to provide me the dummy website that you just tested? It will save a lot of back and forth

[2017-10-12 12:07] pacollins commented on #55
https://imgur.com/a/CmrC0

pacollins.com

[2017-10-12 12:13] kerry commented on #55
Thanks @pacollins

[2017-10-12 12:14] pacollins commented on #55
@kerry Did that clear it up? Haha I'm happy to help!

[2017-10-12 12:16] kerry commented on #55
@pacollins I am trying it again. Will keep you posted. Thanks for the help

[2017-10-12 14:31] pacollins commented on #39
@statnmap - any chance you could update to this version and create a PR for your implementation?

[2017-10-12 14:33] pacollins commented on #31
I think this is as intended, but if we could fix it, I think it would be preferable.

[2017-10-12 14:36] pacollins commented on #22
Was being covered by #27. We need to revisit with a fresh PR.

[2017-10-12 14:39] pacollins commented on #4
Would be solved with the implementation of #39.

[2017-10-12 15:35] statnmap commented on #39
Yes. You can have a look at my PR #58 and modify it if necessary.

[2017-10-12 17:28] CFaught commented on #42
Thanks, I'll take a look. Are children denoted as .Site.Menus.main.children in the config file?

[2017-10-12 21:53] CFaught commented on #42
I got something working, the only issue I have at the moment is that every child after the first submenu item has a padding-left of 1em that I can't seem to override. Alas, CSS is not my strong point.

[2017-10-12 22:09] CFaught commented on #42
[My website's](http://www.portofcode.com) tutorial section is a live example of how it looks.

[2017-10-13 15:44] pacollins commented on #42
@CFaught, it's actually a margin. `margin-left: 0;` on the element solves it, but lets see if we can figure out why its doing that. I will look later today.

[2017-10-13 17:35] CFaught commented on #42
That's what it was, I was trying to set it as none. 0 works.

[2017-10-15 23:38] pacollins commented on #55
@kerry Was this resolved?

[2017-10-16 00:01] kerry commented on #55
@pacollins yes. the problem was that when the laptop screen is 1280 px, it has the layout where in the title is on top and on screen bigger than that, the layout is where title is on left.

I wanted it to be on left on all laptop screens and only switch to the other layout when the width of screen is less than 968px. I will try to modify that myself.

Thanks

[2017-10-16 00:08] pacollins commented on #55
You would need to change all the break points in the CSS. I will look into possibility changing this as 1280px seems like a wide break point for that part of the site design, but until then I will close this issue.

[2017-10-16 00:08] #55 closed

[2017-10-16 00:44] pacollins commented on #39
@untalpierre #58 is starting the process on this. I have fixed all the merge requests, if you could review that this is working for you, that would help.

[2017-10-19 17:08] pacollins opened #65 "Live Search"
# Feature or Expected Behavior

Add a local search the utilizes site index json or similar.

Currently looking at:
- [Semantic-UI](https://semantic-ui.com/modules/search.html#using-api-settings)
- [jQuery Typeahead](http://www.runningcoder.org/jquerytypeahead/demo/)
- [ng-Bootstrap](https://ng-bootstrap.github.io/#/components/typeahead/examples)
- [lunr.js](https://lunrjs.com/) - Used by [Hugo-The

[2017-10-23 17:03] sahil87 opened #68 "Not able to see disqus comments"
# Feature or Expected Behavior
After adding disqusShortname to config.toml I expect the disqus comments to show up.

# Current Behavior
Disqus comments not showing up. Neither on localhost nor on live website.

The following change fixes this behaviour: https://github.com/sahil87/hugo-future-imperfect/commit/0996de26b6b2c06401fc4da7c76ed5abc3661b03

I want to know if I am missing something, or if

[2017-10-23 17:31] pacollins commented on #68
Thanks for pointing this out. I had fixed this, but it must have been in one of the commits I reverted. The fix you made to `content-single` is correct, so I'd love it if you made a PR.

You shouldn't need to edit `comments.html` that being said, I'm not sure why `{{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}` was implemented unless it was an older version of Hugo thing. It's just say

[2017-10-23 18:14] sahil87 commented on #68
Not removing `{{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}` prevents disqus from working.

Even in localhost disqus says: `Disqus comments not available by default when the website is previewed locally. comments powered by Disqus`. This message disappears if the above condition exists. Hence, removed the condition.

Created PR https://github.com/jpescador/hugo-future-imperfect/pull/6

[2017-10-23 19:09] pacollins commented on #68
I understand what you are saying now. Hugo has it built in to notify you that Disqus doesn't work locally, but that snippet just killed Disqus. I have requested changes on your PR. Thanks for this catch though!

[2017-10-24 13:35] pacollins commented on #68
Solved with PR #69 .

[2017-10-24 13:35] #68 closed

[2017-10-25 03:36] pacollins commented on #15
You just need to set the frontmatter for your post to include `type = "post"` for it to exist.

[2017-10-25 03:36] #15 closed

[2017-10-25 03:39] pacollins commented on #22
Solved in #48

[2017-10-25 03:39] #22 closed

[2017-10-25 23:46] pacollins opened #72 "Create Wiki"

[2017-10-30 18:18] benjamingrogg opened #77 "Error loading custom javascripts"
## Expected Behavior
Load Custom JS Scripts

## Current Behavior
Nothing is loaded URL Points to:
`http://localhost:1313/%7B%7B%20.%20%7D%7D`

## Possible Solution
Similar to CustomCSS (Which is working fine)

## Steps to Reproduce or Template with Error (for bugs)
Use CustomJS in config.toml
`customJS             = ["/js/jquery-3.2.1.min.js", "/js/jquery.fancybox.min.js", "/js/skel.min.js", "/js/

[2017-10-31 13:38] #77 closed

[2017-10-31 16:44] benjamingrogg commented on #77
@pacollins Perfect! Works now. Thanks a lot!

[2017-11-07 17:48] VeitSanner opened #80 "Usage of absURL for internal links prevents hostname changes"
## Expected Behavior
When I change the hostname or DNS name of the server, all internal links of the site should still work. Hence, the usage of
[code]
is preferred over
[code]
This behavior is needed when the generated site is promoted to a staging environment before it is promoted to the live environment.

## Current Behavior
Currently, many of the internal links are generated including the *bas

[2017-11-07 23:06] pacollins commented on #80
@VeitSanner - This was a simple fix so I jumped the gun early, but I want to note that this has future issues within the theme. If you ever use Site.BaseURL, the site will have to be rebuilt. Other issue cases similarly persist. What are you thoughts on this?

[2017-11-08 07:40] VeitSanner commented on #80
My understanding is that most of the site should be be working with relative URLs. So that I would be able to click through the generated site and verify that it is working. If there are some links which cannot be generated using a relative URL, that would be fine for me.

E.g. I have added JSON LD elements to provide additional information on blog posts. And here I do need the absolute URL. I bel

[2017-11-08 11:35] mtjandra commented on #80
Can someone let me know why we need to specify a `baseurl` at all? The way I see it, the `baseurl` should always be `/`, and all resources should be relative from the root site or pages your on (starting with `/root/resource.png` or `fromhere/resource.png`, with the exception of external resources.

[2017-11-08 14:29] pacollins commented on #80
@VeitSanner - I totally agree with you in that sense. I am going to try to find more information on the intended purpose of `baseURL`.

@mtjandra - I'm not really sure. I'm working on trying to find that information. I'm guessing its for SEO because as far as I understand `absURL` is better for SEO. As for it not being `/`, if the site doesn't stem from the root, you wouldn't want it as `/`.

[2017-11-09 15:09] pacollins commented on #80
So there is a [discussion](https://discourse.gohugo.io/t/how-not-to-specify-url-site/5691/3) that occurred on the Hugo board. It seems that `.site.baseURL` is antiquated (from my interpretation) and that the easiest solution is to change all URLs (excluding dependencies) to `relURL` - if it isn't language dependent and `relLangURL` - if it is language dependent.

The issue that comes with your cas

[2017-11-09 22:48] VeitSanner commented on #80
@pacollins as far as I can see there are always going to be some links which would need the absolute URL incl. the hostname. Every URL which is provided to an external system has to be an absolute URL. That applies among others:

* Google Search Function - Otherwise it would not be possible to provide the `site:example.com` parameter.
* RSS - the links in RSS need to be absolute. cf. [RSS 2.0 Spec

[2017-11-10 02:49] internetfreak opened #82 "Post banner images sometimes get not shown"
## Expected Behavior
When publishing a post with a featured image using "date" as path, the image should be always shown wherever the post is displayed.

## Current Behavior
On some (sub)pages, sometimes the image(s) are not shown. It's either only the "latest posts" section or the post itself or both.

## Possible Solution
Currently I've got no idea how that issue exactly happens so I can not pro

[2017-11-10 03:52] pacollins commented on #82
This is a known issue that has been back burner-ed. There is a disconnect with the date short when its used multiple times on the page.

**Solution 1**

If the images are removed from `partials/sidebar.html` it *should* solve the problem.

**Solution 2**

Until its fixed, you could physically set the path as the date name scheme (I know this isn't ideal, but a temporary fix.)

**Debuging Process**

[2017-11-10 03:55] pacollins commented on #80
I will put together another PR with this, but that leads me to this question - does changing to relURLs solve your initial problem if functions such as RSS, Google Search, and Site Map **don't** work without rebuilding the site?

[2017-11-10 07:02] VeitSanner commented on #80
@pacollins, it would be fine if some areas of the site don't work due to the usage of the absolute URL.

[2017-11-10 14:55] internetfreak commented on #82
I'd try to help tracking it down but I don't understand the process completely. Do I understand correctly that I should delete some parts of various template files until the short works correctly on every page or should I delete the generated page and recreate it?

[2017-11-10 18:36] pacollins commented on #82
So I would create a new directory (so you don't mess with your site), go to the page where the error occurs, then find that template, and delete pieces till it works. For example, for the contact page you would go to `contact\list.html` and then just delete parts and see if it works. I generally start from the bottom, so I'd delete `{{ partial "footer" . }}`.

[2017-11-10 18:39] pacollins commented on #80
I have created #83, would you mind reviewing that all the appropriate URLs have been changed. I think I got it all changed. I searched the directory for `absURL`, `relURL`, and `href="` to try to cover them all.

[2017-11-10 22:37] internetfreak commented on #82
I did as you told me so I went on and modified the template for the about page since I modified my site and then the original place worked again. After I deleted the footer partial from the template it worked. I think this is somehow related to a quirk regarding hugo since it builds multiple pages in parallel if I remember it correctly. Maybe the error occurs if two pages are built in parallel and

[2017-11-10 23:29] pacollins commented on #82
I did not know that was a quirk... that is good to know. I might know of a way to circumvent this because I believe you are right that this was the problem when I fixed the home page.

I need to revisit the site breakpoints, I think that's where this issue comes from. Are you saying that it opens up on your contact page when you open it? I can't recreate that.

[2017-11-11 06:00] internetfreak commented on #82
Just to clarify it: Hugo building the page in parallel is not the quirk I meant, that's useful as it speeds up build time. But I don't know exactly how the Scratch behaves when being used on multiple pages so that's why I mentioned it. I wish you luck that you can find the issue.

For the contact page: I just revisited the page and somehow only the contact page seems to load the css with a small d

[2017-11-11 13:26] VeitSanner commented on #80
I revisited the Hugo page regarding [URL Management](https://gohugo.io/content-management/urls/) and there they refer to `.RelPermalink` which seems to provide the permalink as a relative URL. At least it worked for me when I tested the behavior in a single place.

[2017-11-11 22:28] pacollins commented on #82
Thank you for that gif, I will look into both of these once I have time. I'll see if I can recreate it on Firefox.

[2017-11-11 23:03] pacollins commented on #80
Updated `.permalink` to `.RelPermalink`. After this update, the issue arises for all of the share links that you need `.permalink`. I assume this fits in the category of things you are fine with.

[2017-11-12 23:02] VeitSanner commented on #80
Share links are provided to a third party, henc, only an absolute URL would work.

Yes, I’m fine with that.

Thanks for your quick responses.

[2017-11-13 00:29] #80 closed

[2017-11-14 16:34] pacollins commented on #82
So I have gotten to some testing, and I do think it must be a Hugo quirk over a theme quirk. I am able to get the banner images to reappear when removing various aspects of the templates, but I have also noticed that I can get them to load by reloading the page a couple times, or starting and stopping the server. I am going to try messing with the `Scratch` variables. I had fixed it on the banners

[2017-11-17 17:49] BernCarney opened #84 "Overflow/Horizontal scrolling on Itemized view on small screens"
## Expected Behavior

When an itemized (could be other types of post but have only tested itemized) post has a long description, text should not overflow.

## Current Behavior

Text overflows and causes layout to have horizontal scrollbars on small screens as well as causing some misalignment of other layout elements such as the _go-to-top_ arrow.
![image](https://user-images.githubusercontent.com

[2017-11-20 03:05] #84 closed

[2017-11-20 03:19] BernCarney commented on #72
I think cleaning up the `README.md` and moving shortcodes/features to the wiki is a good idea. Adding a post (similar to the markdown cheat sheet posts on most themes) showing off the shortcodes wouldn't be a bad idea either.

[2017-11-20 03:59] pacollins commented on #72
Thanks for your input. So you think that utilizing the wiki with images would be better/more appropriate than putting it in the [demo site](https://themes.gohugo.io/theme/future-imperfect/) that Hugo hosts?

[2017-11-25 20:26] radu-matei opened #87 "Light code block"
By default, when I add a code block it has a dark background.

[In the example site](https://themes.gohugo.io/theme/future-imperfect/) there is a code sample that has a light background - however, I couldn't find any setting regarding this.

Thanks!

[2017-11-25 23:48] pacollins commented on #87
Do you have a link to a project or at least an image? I don't seem to be able to create this issue.

[2017-12-02 06:32] pacollins commented on #87
Do you still have this issue? Can you give more information? If you have the most recent version of the theme it should match exactly the example site.

[2017-12-02 18:47] alexliyu7352 opened #89 "li break ol and in header <p> break parent"
if have long string in header, the <p> will break the parent.
in content div, the li will break ol.
I have fixed this issues, please see
[a3a77b4e79952b7dc73816ed4ee25e712fbfb46d](https://github.com/alexliyu7352/hugo-future-imperfect/commit/a3a77b4e79952b7dc73816ed4ee25e712fbfb46d)

[2017-12-07 20:51] zhirschtritt opened #90 "uglyurls Hugo setting breaks build process"
- [x] I am running the latest version of [Hugo](https://github.com/gohugoio/hugo/releases)
- [x] I am using the latest version of [Hugo-Future-Imperfect](https://github.com/jpescador/hugo-future-imperfect/releases)
- [x] I checked the [documentation](https://github.com/jpescador/hugo-future-imperfect/wiki) and found no
- [x] I checked the [issues](https://github.com/jpescador/hugo-future-imperfect

[2017-12-08 01:43] pacollins commented on #82
If you wouldn't mind testing the PR to confirm it works for you, that would be amazing.

[2017-12-08 01:44] pacollins commented on #87
This issue is closed due to inactivity. Please feel free to reopen with more information.

[2017-12-08 01:44] #87 closed

[2017-12-08 01:53] pacollins commented on #89
Please resubmit with the issue template or make a pull request if it is a fix you created. I need more information to understand what you are saying.

[2017-12-08 01:53] #89 closed

[2017-12-08 01:56] pacollins commented on #90
I'm guessing that this is a newer feature that just hasn't been accounted for since this theme was built on Hugo ~0.15?

I will read up about `uglyurls` to see what a fix might be.

[2017-12-08 17:09] zhirschtritt commented on #90
OK - I found a solution, but it's not great. If I build with `uglyurls = false` first, I can create the `index.html` files, *then* I change `uglyurls = true` and, without removing the previous `public` build, I do another build. So, now I don't have broken links but need a custom build process. Eh.

[2017-12-08 18:38] pacollins commented on #90
Have you tried it with another theme?

[2017-12-08 19:01] zhirschtritt commented on #90
I just did (with [cocoa](https://github.com/nishanths/cocoa-hugo-theme)) and got the same results, which I don't quite understand. It makes me think I have a configuration error on my machine or I'm fundamentally misunderstanding uglyurls within hugo. I'll try it on another machine later.

[2017-12-08 22:25] pacollins commented on #90
Since this isn't directly related to the theme, I recommend you post on the Hugo discussion forum and I will close this discussion.

I hope you figure it out!

[2017-12-08 22:25] #90 closed

[2017-12-09 00:10] internetfreak commented on #82
Sorry that I couldn't react until now as there were some unplanned events. I already modified the template to fit my needs but I have a protected test version of my blog so I sure can pull the commit and test it. Give me a few days then I should have a result.

[2017-12-09 00:42] pacollins commented on #82
No problem! I have been super busy as well.

[2017-12-09 04:55] balldarrens opened #94 "layout for categories?"
## Expected Behavior

On render of the default categories page, it should present with a itemized view of all categories (with counts on each possibily) and the ability to drill down.
## Current Behavior

When categories link (top) is clicked, I would expect a summary page of all categories to drill down into.  Instead I get an empty page.  There seems to be no valid layout for this.

## Possible

[2017-12-09 05:03] balldarrens commented on #94
This seems to be working as expect.

[2017-12-09 05:03] #94 closed

[2017-12-09 17:11] balldarrens commented on #55
@pacollins - this would be great to fix, or have the ability to simply force '2 column' layout.

[2017-12-09 22:01] pacollins commented on #55
@balldarrens - I'm fine with this being adjust, I just don't have the time myself to do it. I believe @BernCarney is looking into cleaning all of the css.

[2017-12-10 02:38] vinurs opened #95 "where to show tags"
I like this theme very,but when i use it, i can't find where my tags shown?
is there any other configurations?

[2017-12-10 08:46] pacollins commented on #95
Please use the issue template.

Tags currently do not show, but we can gladly look into it if you submit a new issue outlining the request appropriately.

[2017-12-10 08:46] #95 closed

[2017-12-10 09:21] vinurs opened #96 "show tags and toc"
Hi,
    I am running the latest version of [Hugo](https://github.com/gohugoio/hugo/releases)
and  I am using the latest version of [Hugo-Future-Imperfect](https://github.com/jpescador/hugo-future-imperfect/releases) , but when i use it ,i found it didn't show tags and toc for every post, is there any plan to Implement these functions？

[2017-12-10 20:00] pacollins commented on #96
This is not the [issue template](https://github.com/jpescador/hugo-future-imperfect/blob/master/.github/ISSUE_TEMPLATE.md) that loads when you make an issue. I'm not going to close this one because of clutter, but this is not the proper way to make a request as it limits the amount of detail that contributors have to work with.

Please read the [contributing guidelines](https://github.com/jpescado

[2017-12-10 20:05] #31 closed

[2017-12-10 20:06] #82 closed

[2017-12-11 04:37] balldarrens commented on #55
@BernCarney - are you able to adjust this?

[2017-12-11 05:04] BernCarney commented on #55
Sorry I’ve been super busy moving my girlfriend into my place. I’ll take a
look at it this evening or sometime this week.
On Sun, Dec 10, 2017 at 9:37 PM balldarrens <notifications@github.com>
wrote:

[2017-12-11 05:07] BernCarney commented on #55
Shouldn’t be too bad of a fix, I’ll start working on it if you want to assign it to me.

[2017-12-11 05:21] BernCarney commented on #55
@balldarrrens @pacollins started looking into it.

As a sidenote, this is one of the reason I think the CSS needs a major look at:
![image](https://user-images.githubusercontent.com/18447002/33816722-2f473788-ddf8-11e7-9f26-bca538fb3f32.png)

The font size is being set at _14pt_ but using media queries it is effectively always _12pt_. Lots of unneeded code...

Seems like it was built from a SASS/L

[2017-12-11 05:55] pacollins commented on #55
Don't worry about the timing. We all know everyone is busy and this is a volunteer project. haha

[2017-12-12 18:39] blgo opened #98 "Do anybody want Cloudinary as a featuredpath option?"
I have been working on a travel and photography blog using this theme for a few weeks now and I am using Cloudinary as a free service for domestic use and it works great.

I have mashed together some customizations which integrate display photos hosted in Cloudinary using the featuredpath front matter property and fancybox for embedding any image I want in the content markdown.

I am also using so

[2017-12-12 21:40] pacollins commented on #98
I'm not family with the service, so I'd have to read up. This might steer too much into the realm of bloat if it isn't a common platform. Lets see what some others say. If not we could (once we get the wiki going) explain how to implement it and leave it up to the user to make the changes (and gladly link to your repo 😄 ).

[2017-12-13 03:13] ParitoshBh opened #99 "Toggle to hide category in sidebar"
- I am running the latest version of [Hugo](https://github.com/gohugoio/hugo/releases) - Yes
- I am using the latest version of [Hugo-Future-Imperfect](https://github.com/jpescador/hugo-future-imperfect/releases) - Yes
- I checked the [documentation](https://github.com/jpescador/hugo-future-imperfect/wiki) and found no answer - Yes
- I checked the [issues](https://github.com/jpescador/hugo-future-

[2017-12-13 16:46] ParitoshBh commented on #99
I can work on this. Went through the contributing documentation and just to make sure, I need to create a pull request and work on this (after cloning the repo and create a new feature branch). Is that correct?

I am relatively new to community contributions so please let me know if anything was skipped/missed!

[2017-12-13 21:14] pacollins commented on #99
Nope, that's about it. If you have any more questions about contributing,
feel free to ask!

On Wed, Dec 13, 2017 at 11:46 AM, Paritosh Bhatia <notifications@github.com>
wrote:

[2017-12-23 17:25] henningsway commented on #39
@statnmap is there a place to see how you approached this problem? (Would also be relevant to me right now)

[2017-12-23 17:53] statnmap commented on #39
This is ongoing work that you can see here https://github.com/jpescador/hugo-future-imperfect/pull/58.

[2017-12-25 13:05] henningsway commented on #72
I think more examples and detailed information  in a Wiki would be helpful. Of course an example site may be even more helpful, but it may be hard to provide "all the examples" in a single page, especially if there would be mutually exclusive design choices.

So probably do both. ;)

(Ps: I personally would be interested atm in multi-language, multi-menu and fancybox examples.)

[2017-12-30 05:42] henningsway commented on #42
@CFaught I think, the menus look great on your website. I found the related entries with the 'parent'-options in your config.toml. What else do I have to adjust to get multilevel-menus enabled for my site?

[2017-12-31 01:06] CFaught commented on #42
@henningsway, if you clone this fork it should only require setting `hasChildren = true` and the `identifier = <your naming convention>` in the parent and `parent = <identifier of parent>` in the children. I set the weight as the same as well but I don't remember if that was necessary. I still need to get the sidebar submenu to collapse but at the moment it just lists them with an indent.

[2018-01-06 03:10] naveen-vijay opened #100 "Open menu in new tab"
## Expected Behavior

Blogs, portfolio require the ability to link other project or hosted live demo items to be opened in new tab
## Current Behavior

## Possible Solution

Under config.toml file there are configuration options like **name**, **url**, **identifier**, **weight**.
## Steps to Reproduce or Template with Error (for bugs)

Not Applicable.

## Context

Blogs, portfolio require the abil

[2018-01-06 11:56] yujiahaol68 opened #101 "Some category pages fail to display when enter online but nothing wrong run in local env"
## Expected Behavior

categories page should work just like [category php](http://tecknight.xyz/categories/php/)

## Current Behavior

Some categories output like
`ERROR: error on line 56 at column 61: PCDATA invalid Char value 8`
and some will just show the XML files content
and some categories are OK.

One thing so wired that is it happens only when browse the deploy site and Nothing wrong when

[2018-01-06 20:12] rlees85 opened #102 "recent-posts ID should be CLASS"
## Prerequisites:
* Hugo Static Site Generator v0.32.1 linux/amd64 BuildDate: 2018-01-02T23:03:31+01:00
* Using Hugo-Imperfect-Future ref: 3b30bf0b62ea4341d0f72504d9ecb6a6eeda22fb

## Expected Behaviour
Output HTML is valid. Elements with an ID should only appear once. For elements that appear more than once should use CLASS.

## Current Behavior
`recent-posts` section appears in the HTML code twi

[2018-01-06 21:57] statnmap commented on #96
I added tags in a fork of this template (https://github.com/statnmap/hugo-future-imperfect/tree/ml). Once, I said that I would propose a PR for that. I put it on my todo ! If you are interested, I modified the `footer-category` partial: https://github.com/statnmap/hugo-future-imperfect/blob/ml/layouts/partials/footer-category.html and modified the `css` https://github.com/statnmap/hugo-future-impe

[2018-01-12 11:01] yujiahaol68 commented on #101
invalid Char value I fixed it by delete `^H` in the md and it works

But still some categories will get
`This XML file does not appear to have any style information associated with it. The document tree is shown below.`

[2018-01-26 12:41] dudil commented on #100
Hi -

This is already covered by the **Hugo** platform.
Just add the following to your **config.toml**

[code]

[2018-01-26 15:06] naveen-vijay commented on #100
Am i missing something ? This is what i am trying in config.toml but doesn't seem to work.
[code]

[2018-01-26 15:07] dudil commented on #100
Yes - it has to be under the [blackfriday] section and not under any other section.
It is a directive to the Hugo markdown compiler and as such needs to be set on the higher level

[2018-01-30 16:24] naveen-vijay commented on #100
That would mean - the the behavior would be applied for all the menu items, but we need only specific menus to be target = _blank enabled. If I am wrong, could you please give a bigger example with multiple examples ?

[2018-01-31 00:45] #99 closed

[2018-01-31 07:41] dudil commented on #100
I got your point.

Let me better explain:
There are several potential places for external links:
1. Through the content itself (*.md files)
For links you are having at the content, Hugo will compile them into <a> tags.
If you wish these specific (in content from markdown) links to open in new window you should use the directive
'''
[blackfriday]
  hrefTargetBlank = true
'''
* please note! you must

[2018-01-31 11:36] dudil opened #110 "Using "Intro" title remove fixed header on mobile"
## Expected Behavior

## Current Behavior

When using a markdown post file with the following Intro heading, it is replacing the "intro section" on the page head (notable on mobile view [iphone 6s])

[code]

## Possible Solution

My guess is that it is happening since this action is referred on the CSS & JS as "#intro".
This is non programatic name and hence interfere with this possible (and very

[2018-02-01 19:14] acidsploit commented on #100
(like what you stated on the above examples)

I am also interested in that!

It would be very handy to be able to do something like @naveen-vijay detailed, be able to specify how links in the menu should behave:

[code]

[2018-02-01 23:39] dudil commented on #100
I got you @acidsploit
Unfortunately it won't work like that due to Hugo limitation, there is an [open issue 3600](https://github.com/gohugoio/hugo/issues/3600) about it - not sure where it stands.

I can implement but it will be kind go workaround.
1. Have a global parameter stating that if the URL base is different than baseURL - set target to blank.
2. Hack one of the available parameter not use

[2018-02-02 14:03] pacollins commented on #100
@dudil Thanks for addressing this question. I think that it would be best to avoid hack-y solutions and wait for there to be a real method presented from Hugo. The easy solution is edit the [navbar partial](https://github.com/jpescador/hugo-future-imperfect/blob/b4bd0f35f0431429c9f108542a368274b68b23f4/layouts/partials/navbar.html#L20) directly and just make that a direct link for your particular

[2018-02-02 15:05] dudil commented on #100
Hi @pacollins - sure, thats make sense and why I asked you to look at it.

@naveen-vijay @acidsploit, just to be still able to help out - I made this gist with some instruction on how to set it up to your own site.

https://gist.github.com/dudil/edf2b1838c7cc5f1131a3777dbc662a9.html

I've tested it local and it is working fine - just make sure to set your *baseurl* parameter at the config.toml cor

[2018-02-02 15:48] acidsploit commented on #100
Awesome! Thanks for taking the time to write that up.

[2018-02-06 07:39] dudil opened #113 "Enhancement: Add SEO parameters to theme"
## Expected Behavior

I suggest an improvement to implement SEO code to websites.
The implementation is following the description in the following blog:
[https://keithpblog.org/post/hugo-website-seo/](https://keithpblog.org/post/hugo-website-seo/)
I've implemented the changes on my own site and they are working fine and easy to set.
I'll be happy to submit a PR if relevant to the general public

#

[2018-02-06 08:27] dudil opened #114 "Issue\Bug: h1 element font-size is not set on the main.css file"
## Expected Behavior

h1 post headers should be slightly bigger than h2 headers on posts

## Current Behavior

I'm not sure if intended but currently h1 is slightly smaller than h2 headers on posts. The reason for that is that h1 don't-size property is not set under the main.css theme file

## Possible Solution

Add h1 property to the css file (after line 212).
[code]
- **if this is proper solutio

[2018-02-08 08:41] peaceiris opened #118 "Invalid tag closed"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce or Template with Error (for bugs)

1.
2.
3.
4.

## Context

https://github.com/jpescador/hugo-future-imperfect/blob/b4bd0f35f0431429c9f108542a368274b68b23f4/layouts/partials/sidebar.html#L116

If I understand correctly, what you want to do is that:

[code]

This issue is my first sending in my github life. Forgi

[2018-02-09 02:34] pacollins commented on #118
Thanks @peaceiris for this catch and welcome to GitHub! You did everything right! I will push a fix in a bit.

[2018-02-09 02:50] pacollins commented on #113
I do think that this is something that would be worthwhile for the theme. The majority of people will be looking for this (I assume). As long as its easy to customize for the user, I'd say go ahead and throw the PR up unless someone else has something on the topic.

[2018-02-09 02:53] pacollins commented on #114
Thanks for catching this. In the grand scheme of the theme, we are hoping to rebase the CSS to remove the clutter that comes from original theme. If you are interested in helping with that, let me know. If I can find the original post that addresses it, I'll link it.

[2018-02-09 03:00] #118 closed

[2018-02-09 03:37] pacollins commented on #72
@henningsway - Realizing I am replying ridiculously late. ML is almost done. MM is stale. Fancybox can be seen [here](https://www.pacollins.com/blog/to-static-from-nothing/#Post-1)

[2018-02-09 12:43] dudil commented on #114
@pacollins - Sure I'll be happy to assist.
Let me know how.

[2018-02-09 12:52] dudil commented on #113
@pacollins - sure I'll do it and add the relevant instructions and links to the readme file

[2018-02-10 01:00] pacollins commented on #102
Closed by #105.

[2018-02-10 01:00] #102 closed

[2018-02-10 04:49] sejal27 opened #120 "Sidebar and post images don't display"
## Expected Behavior

Adding src path to image for intro pic parameter should display image on the sidebar.

## Current Behavior

I have tried adding my image in various folders to try this out, but nothing has worked. The image on the sidebar doesn't display.

## Possible Solution

## Steps to Reproduce or Template with Error (for bugs)

You can check my github repo here: https://github.com/sejal

[2018-02-10 05:01] sejal27 commented on #120
I jsut checked on the past as well, and none of the post images display. I have tried added them in static, content and also img directory on the main site folder. Nothing has worked. I get 404 on the browner console:
[code]
My git repo has been updated with this issue.

[2018-02-10 08:06] sejal27 commented on #120
Okay I figured that image extension was .JPG and .jpg (case sensitive). It worked after I changed that.

[2018-02-10 08:06] #120 closed

[2018-02-11 22:13] #114 closed

[2018-02-13 05:53] DanOvando opened #124 "Add mathjax integration"
## Expected Behavior

Great theme, thanks! I'm writing an academic blog using [blogdown](https://bookdown.org/yihui/blogdown/) and `hugo-future-imperfect`. Posts usually involve at least a few mathematical equations, so wanted to build that capacity into this theme

## Current Behavior

Equations do not seem to be currently supported, and I couldn't find any reference to equations in the documenta

[2018-02-13 05:54] DanOvando commented on #124
[mathjax](https://www.mathjax.org/#docs)

[2018-02-16 21:28] pacollins commented on #124
Feel free to make the PR and we can review from there.

Thanks for your contribution!

[2018-02-25 04:19] #124 closed

[2018-02-26 09:42] bep opened #127 "i18n tip"
https://github.com/jpescador/hugo-future-imperfect/blob/a91e9846b7019a3495ef7341f2371d8ec902146a/i18n/en.toml#L4

Tip:

https://github.com/bep/bepsays.com/blob/master/i18n/en.toml#L8

[2018-02-27 14:36] pacollins commented on #127
Thanks! We'll look at that.

@statnmap

[2018-02-27 14:39] #113 closed

[2018-02-28 17:33] johnatasjmo opened #128 "How to add collections on netlifycms?"
## Expected Behavior
How to add collections on /static/admin/config.toml as per netlifycms?
As the images will be stored on folder dates, it is more elaborated to add images and have them read it when a post is created.

## Possible Solution
Make a sample file to test.

## Context
Add netlifycms to theme

## Your Environment
Mac

**Hugo Version:**
0.37

[2018-03-10 20:32] Jubijub opened #129 "Images not showing on Twitter cards or Open Graph"
## Expected Behavior
* Featured images (using the featured = xxxx in the front matter should show up as Twitter cards or Open Graph pictures
* this is the expected behaviour because the default embedded template https://github.com/gohugoio/hugo/blob/master/tpl/tplimpl/template_embedded.go has the code to show `<meta name="twitter:image"` (line 236 and beyond) leveraging `image` or `featured` param

[2018-03-12 20:45] ikkecode commented on #128
I have the same problem.

[2018-03-22 17:06] rowing-matters opened #131 "Disabling hightlight.js"
## Expected Behavior

I tried to disable highlight.js.
Hence I set `disable_highlight = true ` in config.toml. But it doesn't seem to work. I expect, that the highlight.min.js is not reference in generated html.

## Current Behavior
 But it doesn't seem to work. I  still see
`
        <script src="//cdn.bootcss.com/highlight.js/9.11.0/highlight.min.js"></script>
[...]
        <script>hljs.configur

[2018-03-25 22:37] pacollins commented on #131
@Jean85 made the change last time. Hopefully they can check this out.

[2018-03-25 22:40] pacollins commented on #129
#115 addressed this for the site as a whole, but there is not currently OG for posts. If you'd like to create a PR, I'm sure everyone would really appreciate it!

[2018-03-25 22:41] pacollins commented on #128
I have not used netlifycms, so I can't speak to the issue. I will try to see what I find. That being said, images don't have to be set to the date format. Check the [img-path partia](https://github.com/jpescador/hugo-future-imperfect/blob/master/layouts/partials/img-path.html)l.

[2018-03-26 00:39] skokenes opened #132 "Featured image not appearing in link thumbnail on social media"
Hi, I am trying to share a post I created with this theme on a social media platform (LinkedIn to be specific). When I copy the URL into a LinkedIn post, the preview image for the URL is blank. I do not have this problem with posts from the example site that you have hosted online, so I figure I must be configuring something wrong? How do I enable preview thumbnails to appear with my blog posts?

[2018-03-26 07:37] Jean85 commented on #131
Yes, I fixed one thing about it in #116. @rowing-matters can you check if you're using a version of the theme that includes that fix?

[2018-03-26 12:25] skokenes commented on #132
Figured it out, issue was unrelated to the theme

[2018-03-26 12:25] #132 closed, assigned to nobody

[2018-03-26 16:19] rowing-matters commented on #131
Hi,
I'm on head of master. I get an identical index.html - no matter if disable_highlight is en- or disabled in config.toml.

I'm not an expert. But I think it's quite obvious, that in line 11 of footer.html the reference of the parameter is wrong.

Cheers!

[2018-04-01 12:30] matthieugouel opened #136 "Tags not displayed in multilingual branch version"
## Expected Behavior

## Current Behavior

Tags don't seems to be displayed anymore in "multilingual" branch.

## Possible Solution

## Steps to Reproduce or Template with Error (for bugs)

1. Switch to multilingual branch
2. Create a post with a tag (for instance: ```tags: ["Python"]```)

## Context

I'm trying to use the multilingual mode of the site via the branch "multilingual". Of course, i'm

[2018-04-12 03:22] rabbitfang opened #137 "add-on.css file does not exist"
An `add-on.css` file is referenced in `layout/partials/header.html`, but this file does not exist in the [`static/css` directory](https://github.com/jpescador/hugo-future-imperfect/tree/020882f6ec3658a873f55d162ba114a7bd9288ae/static/css). The line should be removed so the browser doesn't make an unnecessary request.

https://github.com/jpescador/hugo-future-imperfect/blob/020882f6ec3658a873f55d16

[2018-04-14 05:51] pacollins commented on #136
Thanks for reporting this. I am actually doubling back over the entire theme to re-base the code to be more semantic and less cluttered (in addition to utilizing CSS Grid for a more responsive layout). I will add this to my list, I should have the new version up in a week or two. It should be easier to continue development on ML from there.

🥂

[2018-04-14 05:52] pacollins commented on #137
File should exist, we might have missed it in creating the example site.

Thanks for reporting this. I am actually doubling back over the entire theme to re-base the code to be more semantic and less cluttered (in addition to utilizing CSS Grid for a more responsive layout). This is on the list.

🥂

[2018-04-14 05:52] pacollins commented on #131
Thanks for reporting this. I am actually doubling back over the entire theme to re-base the code to be more semantic and less cluttered (in addition to utilizing CSS Grid for a more responsive layout). This is on the list.

🥂

[2018-05-06 09:21] dakky opened #139 "Sometimes featuredpath get rendered wrong"
## Expected Behavior
featuredpath option **always** gets rendered as "/img/YEAR/MONTH"

## Current Behavior
Sometimes the URL for the images gets rendered wrong:

Here is a example:
[code]

**bad** rendering (html  source) in the post itself:

<a href="//localhost:1313/blog/2016/title/" class="image featured">
   <img src="//localhost:1313/date2016/08/image.jpg" alt="">
</a>

the preview in the "r

[2018-05-11 20:35] dakky opened #140 "Usage without explicit Blog subsection and the post preview marker"
Is there any way to configure the theme that the index of the site shows the list of the last x posts?
At the moment this happenes in the "blog" submenu. I want to get rid of this menu and have the list of posts on the first page

And another issue I have: i'd like to use the `` marker in order to mark the point, where the preview of a post should end. Any way to do this?

[2018-05-11 20:36] dakky commented on #139
I'm closing this, as I can't reproduce this myself reliably

[2018-05-11 20:36] #139 closed, assigned to nobody

[2018-05-20 07:48] Skarlso opened #141 "Disqus and prev-next not showing up on most of the times"
## Expected Behavior

Disqus integration works all the time

## Current Behavior

Disqus integration doesn't work, or the template falls apart on some posts using latest version of this template.

Example:
https://skarlso.github.io/2018/03/15/kubernetes-distributed-application/ -- disqus isn't showing up
https://skarlso.github.io/2017/12/04/commit-build-deploy/ -- disqus does show up but is mangle

[2018-05-29 21:08] joshuawallace opened #142 "Having 4 "Uncategorized" posts despite only have one post, and that categorized."
## Expected Behavior

Just starting out my site.  I copied things over from the exampleSite directory, deleted the four example blog posts, and made one of my own and gave it a categorization.  I would expect based on this that under the "Categories" tab I would just see the one category that's been named so far and "1" next to it.

## Current Behavior

As can be seen in the image though, I also h

[2018-05-30 00:57] pacollins commented on #142
Its from the itemized posts I do believe. Development has slowed down on this theme as I am working on rebasing it with CSS Grid and update it with modern Hugo functions.  If you have issues, let me know.

[2018-05-30 13:29] joshuawallace commented on #142
I confirm.  I deleted the itemized posts and the Categories tab is now only showing the category from my single blog post.

What are the itemized posts supposed to be used for?  I can't tell from the example site.

[2018-06-01 03:54] pacollins commented on #142
I used them for different webapps I've created. It's meant to be a way to
create a list of products/creations rather than blog posts. The intent was
a more condense list page.

On Wed, May 30, 2018 at 9:29 AM Joshua <notifications@github.com> wrote:

[2018-06-01 11:30] Skarlso commented on #141
Somebody?

[2018-06-01 14:23] joshuawallace commented on #142
Thanks.

[2018-06-01 14:23] #142 closed, assigned to nobody

[2018-07-03 14:44] #141 closed, assigned to nobody

[2018-07-03 14:46] Skarlso commented on #141
I found that when I specify these:

[code]

Even if empty, the disqus link will work. /shrug

[2018-07-08 21:18] jilcimar opened #145 "Error: Near line 2 (last key parsed ''): Expected a top-level item to end with a new line, comment or EOF, but got '-' instead."
Estou tentando seguir a documentação e quando executo o comando 4 "Step 4: Add Some Content"

o comando é esse: "hugo new posts/my-first-post.md"

e ele me retorna o seguinte erro:

Error: Near line 2 (last key parsed ''): Expected a top-level item to end with a new line, comment or EOF, but got '-' instead.

Estou usando o Linux Mint 18.3

[2018-07-09 04:30] johnatasjmo opened #146 "What is the purpose of "link" for itemized?"
What is the expected behavior of the value `link =` in itemized content type?

[2018-07-09 11:23] peaceiris commented on #146
![link](https://user-images.githubusercontent.com/30958501/42447690-b9829132-83b5-11e8-93cf-082319e378ea.jpg)

If you set `linktitle` and `link` at toml like this

[code]

You will get the link to GitHub.

This is defined at `layouts/itemized/header.html`

[code]

[2018-07-09 21:44] LukeTOBrien commented on #100
I have just been Googling this as I to want to open some menu links in a new tab.
Basically my site is a portfolio site and I want my full page demos is a new tab.

In my workings with Markdown I have used [Markdown-it](https://github.com/markdown-it/markdown-it) so I use the [attrs](https://github.com/arve0/markdown-it-attrs) plugin to do `target="_blank"`, can BlackFriday have plugins or is ther

[2018-07-11 00:12] johnatasjmo commented on #146
Noted. To be added to the Wiki when available.

[2018-07-11 00:12] #146 closed, assigned to nobody

[2018-07-11 00:13] johnatasjmo commented on #72
I think the wiki will help for the non-technical users.

[2018-07-28 10:35] mbaljeetsingh commented on #132
@skokenes  How did you fix it?

[2018-09-05 08:10] ChangChunHe commented on #145
you can refer to https://github.com/gohugoio/hugo/issues/3626

[2018-09-19 19:10] Lo-boom opened #148 "Change fonts"
Hi,
I have allready checked different possibilities but I find no solution. I have downloaded too fonts and have added them to the static folder. Then I added the follow code in the main.css:
@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: url('../static/fonts/handlee-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Handlee Regular'), local('Hand

[2018-09-20 06:21] Lo-boom commented on #148
Oh, good, after looking better, I was just an simple order error oO "../fonts/handlee-v6-latin-regular.eot..." and not "'../static/fonts/handlee-v6-latin-regular...".
I'm sorry :)

[2018-10-23 13:30] dstamen commented on #14
what was the resolution for #4 to change the blog to root so its just not showing the recent post?

[2018-10-26 15:03] robvadai opened #150 "Character set validation on W3C validator"
I've got a site published on the web, generated by Hugo.

W3C HTML validation fails because the character set is not set early enough on the generated web page.

## Expected Behavior

W3C HTML validation should pass with no errors or warnings.

## Current Behavior

It fails because the character set is not set early enough on the generated web page.

## Possible Solution

1. Move the `<meta charse

[2018-11-23 19:27] bjowes commented on #139
Consider reopening this. I found it very reproducible on Hugo 0.51.
The errors appear in the JS console which indicates that the paths were wrong.
But the odd thing is that sometimes the paths seem to repair themselves on load - when inspecting the actual elements on the page, the paths are correct. Seems like some script is modifying the paths while the page is loading.

For a real world example,

[2018-12-02 00:46] daberg2 commented on #137
On my current setup, the add-on.css is located in `exampleSite/static/css`.
Hope this helps.

[2019-03-02 10:00] enricodata commented on #65
I have the same issue. I would like to change the search in order to keep the search result within the page. How can I set it up?

[2019-03-14 06:25] luiscachog opened #151 "Add revealjs slides support"
Not sure if it on the roadmad yet, but it will be cool if the theme supports RevealJS slides.

## Expected Behavior

The expected behavior is to have a layout as the one shows it on: [https://mjvo.github.io/course-stub/slides/](https://mjvo.github.io/course-stub/slides/)
Basically shows an index for the slides, and when we click on it, shows the slide on revealjs.
My understanding is that the reve

[2019-04-05 20:20] pacollins commented on #151
This theme is low development due to the fact I have gotten a job that prevents me from actively maintaining it and I don't have control to give other collaborators pull access. I am working on making a slimmer version of the site that utilizes CSS Grid, but it is not completed yet.

This can be achieved via customjs.

[2019-04-24 05:12] shuwn opened #153 "Gist Shortcodes issue"
Sorry, I am a newbie and still groping hugo. I don't know how to solve this.

## Expected Behavior

The expected layout is as follows:
<img width="1680" alt="Snipaste_2019-04-24_12-56-47" src="https://user-images.githubusercontent.com/20023822/56633576-4a0a7080-6691-11e9-9770-ba4b40b80e74.png">

## Current Behavior

This is Gist Shoortcodes sample: {{< gist spf13 7896402 >}}
If we insert gist shor

[2019-04-24 22:14] pacollins commented on #153
This theme has a stalled development, but I can see what I can do. Can you post a link to the HTML produced by Hugo? (I assume this is the homepage).

[2019-04-25 09:07] shuwn commented on #153
thank you for your replay, this is [Link](https://github.com/shuwn/shuwn.github.io/blob/master/index.html)

[2019-04-27 13:50] pacollins commented on #153
That file is blank.

[2019-04-27 13:51] #148 closed, assigned to nobody

[2019-04-27 13:52] #145 closed, assigned to nobody

[2019-05-02 05:53] luiscachog commented on #151
Hello @pacollins,

Terribly sorry on the delay, I already "create" the functionability. You can verify it on https://luiscachog.io/slides/.
However it is improvable :)

The pull request is ready, probably I need to polish my commits, but as you mentioned I noticed that lots of pull requests are not approved yet.

Let me know how can I help!

Thanks

[2019-05-21 13:11] woodwm opened #155 "Where should I put the favicon?"
Where should I put the favicon file? Where is the favicon folder?

What is favicon version?

[2019-06-04 19:48] ghost opened #156 "Adding a partial banner to the theme?"
I was trying to add a banner/hero image to the the website blog I am creating, but I noticed that I cannot simply add on a partial to the website, because the image does not load in. Is there a way I could add this? The file Banner.html is the partial that I am trying to add, but it doesn't work for some reason...
## Expected Behavior

I was trying to add a partial template of a banner image
## Cu

[2019-06-05 00:36] #156 closed, assigned to nobody

[2019-07-28 10:34] reiner opened #158 "How to filter authors?"
Hello, how could I filter (blog entries) of authors?

All I would need is a “clickable“ author in the list template and then a separate page with blog posts of each author. How would I do that

Thank you very much for your information!
cheers,
Reiner

[2019-08-03 17:22] daberg2 commented on #155
Hey there,

I used some favicon generator online to get my icons, then I simply placed them into the static folder.

![image](https://user-images.githubusercontent.com/39193609/62415034-a61a5480-b5f1-11e9-812a-8e68ef4830bb.png)

[2019-08-03 17:26] daberg2 commented on #72
Howdy,

I was actually just thinking about this as I was trying to navigate the README.md. I personally prefer using the README for things like basic installation and maybe contribution guidelines. Everything else would be better-off in the Wiki. This way, the readme is less cluttered and everything else can be organized into a structure that makes sense and is easy to navigate in the Wiki.

Let m

[2019-08-07 14:34] Anu-kriti opened #159 "Featured and featuredpath"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce or Template with Error (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

**Hugo Version:**

**Browser:**

**Desktop or Mobile:**

**Link to your project:**

[2019-08-07 14:34] Anu-kriti commented on #159
How can I add multiple pictures -
featured just consider the first image..
and ignores the rest

[2019-08-12 03:52] ghost opened #160 "Licensing issues"
https://github.com/pacollins/hugo-future-imperfect-slim/issues/47

Note your use of MIT for your adaptation of a CC-BY work is causing issues. Please consider thoroughly reviewing the original work and consider how you could modify your theme to make it more clear what users need to do to meet the terms and restrictions of the original work.

[2019-08-20 18:29] Anu-kriti commented on #159
What will be the solution of this -  to change the theme style?

[2019-08-22 03:56] ghost commented on #131
I'm guessing you wanted to disable it because of its cdn being from cdnboot (super slow). One way around, which I ended up doing, was changing the cdn host to cloudflare. That boosted the sites loading time from 9 seconds to 1.3

[2019-09-03 19:16] ghost commented on #155
Did you end up figuring this one out? I was having the same issue.

[2019-09-13 17:18] lelibreauquotidien opened #161 "Demo in local ?"
Hello.
How do I get the content of the demo on my site locally?
Thank you.
llaq.

[2019-10-27 10:37] DiegoUsaiUK opened #162 "RMD files rendering but not showing when using Future Imperfect (and FI Slim) in RStudio with blogdown"
## Expected Behavior

I followed the instructions provided in bookdown.org/yihui/blogdown/ to create a website using RStudio and bookdown with the FI template . The sample website renders OK and I can visualise that locally on my PC with both Chrome and Firefox. Unfortunately in both cases the sample Rmarkdown (.Rmd) file "2015-07-23-r-rmarkdown" that comes with the default content does not show a

[2019-12-08 14:24] lndyzwdxhs commented on #155
@woodwm @Submersed24 put it to `.\static` directory

[2020-06-05 14:25] beinformed2020 opened #164 "Page.Hugo is deprecated"
## Current Behavior

When Hugo compiles I get the following warning:

WARN 2020/06/05 15:16:40 Page.Hugo is deprecated and will be removed in a future release. Use the global hugo function.

Please advise.

## Your Environment

**Hugo Version:**
Latest
**Browser:**
Brave
**Desktop or Mobile:**
Kubuntu 18.04 Desktop
**Link to your project:**

[2020-06-05 15:02] beinformed2020 commented on #164
To answer my own issue:

I changed;
{{ .Hugo.Generator }}
From line 11,  "layouts>partials>header.html"
to
{{ hugo.Generator }}

[2021-02-04 23:15] AlrikRr commented on #161
- Install hugo
- Create a new hugo site
- git clone the template into /themes
- copy config.toml from /themes/.../exampleSite to your config.toml
- copy all the content / static from exampleSite to you own folder
- start hugo server
- problem ? --> Google.

[2021-02-15 15:06] smackert opened #165 "Articles on mobile should anchor to the title when rendered out of viewport"
After opening an article on a device with a viewport that is short or narrow (excessive line wrapping), the site-intro can take up the entire screen which confuses users. Opening an article can make a user believe that they were erroneously sent back to the top of the homepage.

This may also impact users with certain accessibility options enabled, even with the default theme configuration.

## Ex

[2021-02-24 15:47] HShamilSamsudeen commented on #132
@skokenes how did you fix it?

[2021-03-29 23:33] #110 closed